nav{ 
    font-family: 'Roboto', sans-serif;
    
}
h1{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-style: italic;

}
article{
    h4{
        font-family: 'Playfair Display', serif;
    }
    p{
        font-family: 'Roboto', sans-serif;
    }
    
}
div{
    h2{
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-style: italic;
    }
    h3{
        font-family: 'Roboto', sans-serif;
        color: #e56353;
    }
    p{
        font-family: 'Roboto', sans-serif; 
    }
}