header{
    background-image: url(../images/post-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
        h1{
            color: white;
            font-size: 100px;
            text-align: center;
            padding-left: 100px;
            padding-right: 100px;
        }
    
}

@media only screen and (max-width:768px) and (min-width:577px){
    header{
        h1{
            font-size: 80px;
        }
    }
}

@media only screen and (max-width:576px){
    header{
        h1{
            font-size: 40px;
        }
    }
}